floquet_dynamics/Untitled.ipynb
floquet_dynamics/plotting_dynamics.ipynb
floquet_dynamics/plotting_errors.ipynb
floquet_dynamics/plotting_parallel_3D.ipynb
floquet_dynamics/plotting_stepsize_errors.ipynb
floquet_dynamics/plotting_wp.ipynb
floquet_dynamics/rename_figures.ipynb
